* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color:#E4E4E4;
}

nav {
    background-color: #0d1320;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding: 15px;
    background-color: #0d1320;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

li {
    padding: 15px;
}

a {
    text-decoration: none;
}

.sectionmain {
    margin: 0;
    padding: 50px;
    display: flex;
    background-color: #0e1523;
}

.maindescription {
    font-size: 75px;
    padding:  0 30px 0 80px;
    margin-bottom: 30px;
}

.pdescription {
    font-size: 35px;
    padding: 0 30px 0 80px;
    margin-bottom: 40px;
}

.imaginephone {
    padding: 0 80px 0 50px;
}

.mainbutton {
    padding:  0 30px 0 80px;
}


.button {
    background-color: #E3BD68;
    color: #0e1523;
    border-radius: 6px;
    border: none;
    height: 50px;
    width: 170px;
}

.aboutus {
    margin: 0;
    background-color: #E4E4E4;
}

.aboutustitle {
    color: #0e1523;
    padding: 30px;
    text-align: center;
}

.aboutusparagraph {
    color: #0e1523;
    padding: 0 80px 30px 80px;
    text-align: center;
    font-size: 20px;
}

#team {
    margin: 0;
    background-color: #0e1523;
}

.titleteam {
    color: #E4E4E4;
    padding: 30px;
    text-align: center;
}